* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background: #0f9afe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  font-size: 18px;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
}

.header div {
  align-items: center;
  display: flex;
}

.header img {
  border-radius: 50%;
  height: 40px;
  margin-right: 5px;
  width: 40px;
}
