* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  align-items: center;
  background: #eff8ff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

.form input {
  align-self: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 1.2rem;
  margin-right: 5px;
  padding: 10px;
}

.form select {
  align-self: center;
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 1.2rem;
  padding: 10px;
}

.form button {
  align-self: flex-end;
  background: #0f9afe;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  padding: 12px;
}

.form button:hover {
  background: #0081dd;
}
