* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #a09c9c;
  bottom: 0;
  color: white;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
