* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
  background-color: #eff8ff;
  border-bottom: #999 solid 1px;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 5px;
  max-width: 100%;
  width: 100%;
}

.table th , .table td {
  border-right: #999 solid 1px;
  font-size: 14px;
  line-height: 20px;
  padding: 8px;
  text-align: center;
}

.table thead th {
  background-color: #0f9afe;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.table button {
  background-color: #0f9afe;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 2px;
  padding: 5px;
}

.table button:hover {
  background-color: #0081dd;
}

/*
REFERENCIAS: https://www.felipefialho.com/blog/tutorial-tabela-responsiva/
*/
